body{
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #16191b;
}

.links{
    margin-top: 30px;
    display: grid;
    width: 900px;
    justify-items: center;
    align-items: center;
}